<fieldset>
  <legend>Reset Password</legend>
  <table>
  <%= form_for(@class_object , :url => { :action => "save_new_password" }, :method => "post") do |f| %>
    <tr><td>Enter Password:</td><td> <%= f.password_field :password %></td></tr>
    <tr><td>Re Enter the password Again: </td><td> <%= f.password_field :password_confirmation %></td></tr>
    <tr><td></td><td> <%= f.submit :submit %></td></tr>
  <% end %>
</table>
</fieldset>