// Place all the styles related to the Employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input {
  width : 250px;
  border: 1px solid
}

div#logged-in {
  margin: auto;
  width: 200px;
  background-color: rosybrown;
  border: 2px solid;
  text-align: center;
}

textarea {
  width : 250px;
}